@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}
header{
  background-color:  #EB466D;
  color: white;
  padding: 8px 0px 6px 50px;
  height: 40px;
}
header h1{
    display: inline;
    margin-top: 0px;
    margin-left: 40px;
    font-weight: 800;
    float: left;

}
nav ul{
  display: inline;
  margin-left: 0;
  float: left;
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  float: left;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 10px;
  list-style-type: none;
}
nav ul li a{
  color: white;
  list-style-type: none;
  float: left;
  text-decoration: none;
}
.Contactuspage{
  background-color: white;
  padding: 0px 7px 8px 9px;
  color:  #EB466D;
  font-size: 22px;
}
.homepage:hover{
  color: #1974ed;
  padding: 0px 7px 7px 12px;
}
.projectpage:hover{
  color: #009933;
  padding: 0px 7px 7px 9px;
}
.achpage:hover{
  color: #ff6633;
  padding: 0px 7px 7px 12px;
}
.aboutuspage:hover{
  color: #996699;
  padding: 0px 7px 7px 12px;
}
