body{
  margin: 0;
}
header{
  background-color: #1974ED;
  color: white;
  padding: 8px 0px 6px 50px;
  height: 40px;
}
header h1{
    display: inline;
    margin-top: 0px;
    margin-left: 40px;
    font-weight: 400;
    float: left;

}
nav ul{
  display: inline;
  margin-left: 0;
  float: left;
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  float: left;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 10px;
  list-style-type: none;
}
nav ul li a{
  color: white;
  list-style-type: none;
  float: left;
  text-decoration: none;
}
.homepage{
  background-color: white;
  padding: 0px 7px 8px 9px;
  color: blue;
  font-size: 22px;
}
.projectpage:hover{
  background-color: #ff3333;
  padding: 0px 7px 7px 9px;
}
}
.achpage:hover{
  background-color: #0EDCEB;
  padding: 0px 7px 7px 12px;
}
.aboutuspage:hover{
  background-color: #1974ED;
  padding: 0px 7px 7px 12px;
}
.Contactuspage:hover{
  background-color: #EB466D;
  padding: 0px 7px 7px 12px;
}
